.UI {
    position: relative;
    width: 900px;
    height: 540px;
    box-sizing: content-box;
}

.Mario{
    position:absolute;
    width: 32px;
    height:64px;
    z-index: 5;
}

.grid{
    position:absolute;
    width:36px;
    height:36px;
    z-index:3;
}

.platform{
    content:url("../../assets/sprites/environment/platform.png")
}

.ground{
    content:url("../../assets/sprites/environment/ground.png")
}

.Monster{
    position:absolute;
    z-index: 4;
    width:32px;
    height:32px;
}

.UI-parent {
    border: solid rgba(210, 87, 30, 0.623) 10px;
    height: 540px;
    border-radius: 10px;
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
}

body {
    background-color: aquamarine;
}

* {
    margin: 0;
    padding: 0;
}

.numbers {
    width: 10px;
}

.number {
    color:Chocolate;
    z-index: 2;
    display: flex;
    position:absolute;
    font-family: digitall;
    font-size: 50px;
}

@font-face {
    font-family: 'digitall';
    src: url('../../assets/fonts/Chalkduster.TTF');
}