.UI {
    position: relative;
    width: 900px;
    height: 540px;
    box-sizing: content-box;
}

.UI-parent {
    border: solid rgba(210, 87, 30, 0.623) 10px;
    height: 540px;
    border-radius: 10px;
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
}

body {
    background-color: aquamarine;
}

* {
    margin: 0;
    padding: 0;
}

.numbers {
    width: 10px;
}

.number {
    color:Chocolate;
    z-index: 2;
    display: flex;
    position:absolute;
    font-family: digitall;
    font-size: 50px;
}

@font-face {
    font-family: 'digitall';
    src: url('../../assets/fonts/Chalkduster.TTF');
}